DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_HOST=
DB_PORT=
IONOS_MAIL=
IONOS_PASSWORD=
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
#FISH AI
GEMINI_API_KEY=
FISH_API_KEY=
FISH_VOICE_ID=
# Logger
DJANGO_LOG_LEVEL=
# ngix conf
NGINX_CONF=
CERT_PATH=
DEBUG=
#Django BE Secret
SECRET_KEY_BE=
#Stripe
STRIPE_PRIVATE_KEY=
#Django BE Mail
EMAIL_BACKEND=