DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_HOST=db
DB_PORT=
IONOS_MAIL=
IONOS_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GEMINI_API_KEY=
FISH_API_KEY=
FISH_VOICE_ID=
DJANGO_LOG_LEVEL=
STRIPE_SECRET_KEY=
STRIPE_PLUBLIC_KEY=